*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

nativetemplates/build/intermediates/annotation_processor_list/debug/

nativetemplates/build/intermediates/incremental/packageDebugResources/

*.bin

nativetemplates/build/

nativetemplates/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/
